.create-website-montecristo-content {
    grid-area: montcontent;
}

.navigation-menu-first  {
    display: grid;
    grid-area: nm;
    grid-template-areas: 
    "nm montcontent";
    grid-template-columns: 1fr 1450px;
}