.Contact-information {
    grid-area: contacts;
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: 0.203em;
    font-weight: 400;
    font-style: normal;

}

.create-website-montecristo .Contact-information {
    background-color: rgb(14, 1, 1);
    color: aliceblue;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.create-website-montecristo .Contact-information .list-contacts a {
    background-color: #b7b7b700;
    color: aliceblue;
    padding: 1px;
    text-decoration: none;
    font-weight: bold;
}

.Contact-information .list-contacts li {
    height: 30px;
}

.Contact-information .list-working-hours li {
    height: 40px;
    color: aliceblue;
}

.Contact-information .store-addresses {
    padding: 0%;
}

.Contact-information .store-addresses .Nizhnekamsk {
    width: 100px;
}